@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ヘッダー */
header {
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    position: fixed;
    margin-bottom: 2vh;
}
nav {
    display: flex;
}
.logo {
    color: #FFF;
}
.nav_links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 3vw;
    transition: all 0.5s ease-in-out;
}
.nav_links li a {
    text-decoration: none;
    color: #FFF;
}
.nav_links.is_active {
    transform: translateX(0%) !important;
}
.nav_links.is_active li {
    opacity: 1;
}

/* ハンバーガーメニュー */
.burger div {
    align-items: center;
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 5px;
    cursor: pointer;
    display: none;
    transition: all 0.5s ease-in-out;
}
.burger:hover {
    background-color: #ddd;
}
.is_active .line1 {
    transform: rotate(-405deg) translate(-5px, 6px);
}
.is_active .line2 {
    opacity: 0;
}
.is_active .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
}

/* contents */
main {
    padding-top: 10vh;
}

/* About */
#about {
    width: 60%;
    margin-inline: auto;
    text-align: left;
    padding-bottom: 20%;
}

/* profile */
#profile {
    width: 60%;
    margin-inline: auto;
    padding-bottom: 20%;
}

/* My_work */
#my_work {
    width: 60%;
    margin-inline: auto;
    padding-bottom: 20%;
}
#my_work img {
    width: 10%;
}

/* contact */
#contact {
    width: 60%;
    margin-inline: auto;
    margin-bottom: 10vh;
    text-align: left;
}
#contact input {
    width: 80%;
    height: 3vh;
}
#contact #contents {
    height: 20vh;
    margin-bottom: 10px;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav_links {
        width: 55vw;
        position: fixed;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #000;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
    }
    .nav_links li {
        opacity: 0;
    }

    .burger div {
        display: block;
    }
    #my_work img {
        width: 20%;
    }
}