@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ヘッダー */
header {
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00053a;
    position: fixed;
    margin-bottom: 2vh;
    z-index: 2;
}
nav {
    display: flex;
    position: absolute;
    right: 3%;
}
.nav_links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 3vw;
    transition: all 0.5s ease-in-out;
}
.nav_links li a {
    text-decoration: none;
    color: #FFF;
}
.nav_links.is_active {
    transform: translateX(0%) !important;
}
.nav_links.is_active li {
    opacity: 1;
}

/* ハンバーガーメニュー */
.burger div {
    align-items: center;
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 5px;
    cursor: pointer;
    display: none;
    transition: all 0.5s ease-in-out;
}
.burger:hover {
    background-color: #ddd;
}
.is_active .line1 {
    transform: rotate(-405deg) translate(-5px, 6px);
}
.is_active .line2 {
    opacity: 0;
}
.is_active .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
}

/* ローディング画面 */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00053a;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    flex-direction: column;
    z-index: 3;
}
.loading.is_active {
    opacity: 1;
    visibility: visible;
}
.circle-spin-4 {
    --size: 50px;
    --stroke-width: calc(var(--size) / 6);
    --color: currentColor;
    --animation-duration: 1s;
    position: relative;
    width: var(--size);
    height: var(--size);
  }
 .circle-spin-4::before,
 .circle-spin-4::after {
    content: '';
    position: absolute;
    inset: 0;
    border-width: var(--stroke-width);
    border-style: solid;
    border-color: var(--color) var(--color) transparent transparent;
    border-radius: 50%;
    transform: rotate(0deg);
    animation: var(--animation-duration) infinite circle-spin-4-animation;
}
.circle-spin-4::before {
    animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
}  
.circle-spin-4::before {
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}  
@keyframes circle-spin-4-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loading_text {
    margin-top: 5%;
    font-size: 30px;
}

/* contents */
main {
    background-color: #FFFEF9;
    color: #00053a;
}

/* home */
#hero {
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Impact',sans-serif;
    opacity: 0;
    background-color: #00053a;
    color: #FFF;
}
.fade-target {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.fade-in {
    animation: fadeIn 2s ease-out forwards;
}
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}
h2 {
    padding-bottom: 5%;
    font-size: 3rem;
    font-family: 'Impact',sans-serif;
}
p {
    font-size: 1rem;
}

/* About */
#about {
    padding-top: 10%;
    width: 60%;
    margin-inline: auto;
    text-align: left;
    padding-bottom: 20%;
    font-size: 1rem;
}


/* profile */
#profile {
    width: 60%;
    margin-inline: auto;
    padding-bottom: 20%;
}
table {
    font-size: 1.2rem;
}
th, td {
    padding: 10px;
}

/* My_work */
#my_work {
    width: 60%;
    margin-inline: auto;
    padding-bottom: 20%;
}
#my_work img {
    width: 20%;
    transition: transform 0.3s ease;
}
.zoom {
    transform: scale(2, 2);
    z-index: 1;
}
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    text-align: center;
}
.modal-details h2 {
    font-size: 2rem;
}
.modal-details p {
    font-size: 1.5rem;
    padding-bottom: 5%;
}
#github-mark {
    width: 1rem;
}
.modal-content ul {
    display: flex;
    list-style: none;
}
li.modal-detail {
    max-width: 33%;
}
li.images {
    max-width: 67%;
}
.images-list {
    display: flex;
    flex-direction: column;
}
#small-images img{
    max-width: 20%;
}
#large-images {
    padding-top: 5%;
}
#large-images img {
    max-width: 95%;
    aspect-ratio: 2;
}
.close-btn {
    padding-left: 90%;
    right: 0;
    margin-top: 15px;
    cursor: pointer;
    color: #007BFF;
}
.close-btn img {
    height: 3vh;
}

/* contact */
#contact {
    width: 60%;
    margin-inline: auto;
    margin-bottom: 10vh;
    text-align: left;
}
#contact input {
    width: 80%;
    height: 3vh;
}
#contact textarea {
    width: 80%;
    height: 20vh;
    margin-bottom: 10px;
}

/* メール送信後のメッセージ */
.message {
    height: 100vh;
    padding-top: 10vh;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav_links {
        width: 55vw;
        position: fixed;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #000;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
    }
    .nav_links li {
        opacity: 0;
    }

    #hero {
        width: 100vw;
        font-size: 1rem;
    }
    
    #profile {
        margin-left: 0;
    }
    #profile h2 {
        margin-inline: 30%;
    }
    table {
        font-size: 1rem;
        width: 80%;
    }

    .modal-content {
        max-height: 80vh;
        overflow-y: auto;
    }
    #large-image {
        aspect-ratio: 2;
    }
    .modal-details h2 {
        font-size: 1rem;
    }
    .modal-details p {
        font-size: 1rem;
        padding-bottom: 5%;
    }
    .modal-content ul {
        display: block;
    }
    li.modal-detail {
        max-width: 100%;
    }
    li.images {
        margin-top: 30%;
        max-width: 100%;
    }

    .burger div {
        display: block;
    }
}