<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ポートフォリオ</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    </head>
    <body>
        <!-- ヘッダー -->
        <header>
            <!-- ロゴ -->
            <div class="logo">
                <h1 class="title">マイポートフォリオ</h1>
            </div>
            <nav>
                <!-- メニューバー -->
                <ul class="nav_links">
                    <li><a href="#">トップ</a></li>
                    <li><a href="#about">概要</a></li>
                    <li><a href="#profile">自己紹介</a></li>
                    <li><a href="#my_work">作品集</a></li>
                    <li><a href="#contact">連絡先</a></li>
                </ul>
                <!-- ハンバーガーメニュー -->
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </header>

        <!-- ローディング画面 -->
        <div class="loading is_active">
            <div class="circle-spin-4"></div>
            <div class="loading_text">Now Loading...</div>
        </div>
        <main>
            <!-- 概要 -->
            <div id="about">
                <h2>Aboute</h2>
                <p>
                    　私は現在、大学で情報技術を学んでいる学生です。<br>
                    このポートフォリオは、私がこれまでに学んできたことや制作した成果物をまとめるために作成しました。<br>
                    現時点では自主制作したプロジェクトはまだ少ないですが、今後はさらに多くのアプリケーションやシステムを開発し、技術力を向上させていきたいと考えています。<br>
                    特に、Webアプリ開発や機械学習、画像認識といった分野に興味があり、実践的なプロジェクトを通じてスキルを磨いていく予定です。<br>
                    このポートフォリオは随時更新していきますので、ぜひまたチェックしていただけると嬉しいです！
                </p>
            </div>

            <!-- 自己紹介 -->
            <div id="profile">
                <h2>Profile</h2>
                <table>
                    <tr>
                        <th>氏名</th>
                        <td>大西竣介</td>
                    </tr>
                    <tr>
                        <th>所属</th>
                        <td>和歌山大学システム工学知能情報学メジャー</td>
                    </tr>
                    <tr>
                        <th>経験言語</th>
                        <td>
                            <img src="https://img.shields.io/badge/-C%E8%A8%80%E8%AA%9E-00599C.svg?logo=c&style=plastic">
                            <img src="https://img.shields.io/badge/-Java-007396.svg?logo=java&style=plastic">
                            <img src="https://img.shields.io/badge/-Python-FFFF00.svg?logo=python&style=plastic">
                        </td>
                    </tr>
                    <tr>
                        <th>GitHub</th>
                        <td><a href="https://github.com/shun-ons">https://github.com/shun-ons</a></td>
                    </tr>
                </table>
            </div>

            <!-- 作品集 -->
            <div id="my_work">
                <h2>My work</h2>
                <img src="../static/img/shopping.jpg">
            </div>

            <!-- 連絡先 -->
            <div id="contact">
                <h2>Contact</h2>
                    <form action="#">
                    <p>Name</p>
                    <input type="text" id="name" name="name"/>
                    <p>Email</p>
                    <input type="email" id="email" name="email"/>
                    <p>Contents</p>
                    <input type="text" id="contents" name="contents"/><br>
                    <input type="submit"/>
                </form>
            </div>
        </main>
        <!-- jsファイルの読み込み -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="../static/js/script.js"></script>
    </body>
</html>