<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ポートフォリオ</title>
        <link rel="stylesheet" href="../static/css/index.css" type="text/css">
    </head>
    <body>
        <h1>ポートフォリオ</h1>
        <div id="About_this_site">
            <h2>About this site</h2>
            <p>
                　こんにちは！私は現在、大学で情報技術を学んでいる学生です。<br>
                このポートフォリオは、私がこれまでに学んできたことや制作した成果物をまとめるために作成しました。<br>
                現時点では自主制作したプロジェクトはまだ少ないですが、今後はさらに多くのアプリケーションやシステムを開発し、技術力を向上させていきたいと考えています。<br>
                特に、Webアプリ開発や機械学習、画像認識といった分野に興味があり、実践的なプロジェクトを通じてスキルを磨いていく予定です。<br>
                このポートフォリオは随時更新していきますので、ぜひまたチェックしていただけると嬉しいです！
            </p>
        </div>
        <div id="Profile">
            <h2>Profile</h2>
            <table>
                <tr>
                    <th>氏名</th>
                    <td>大西竣介</td>
                </tr>
                <tr>
                    <th>所属</th>
                    <td>和歌山大学システム工学知能情報学メジャー</td>
                </tr>
                <tr>
                    <th>経験言語</th>
                    <td>
                        <img src="https://img.shields.io/badge/-C%E8%A8%80%E8%AA%9E-00599C.svg?logo=c&style=plastic">
                        <img src="https://img.shields.io/badge/-Java-007396.svg?logo=java&style=plastic">
                        <img src="https://img.shields.io/badge/-Python-FFFF00.svg?logo=python&style=plastic">
                    </td>
                </tr>
                <tr>
                    <th>GitHub</th>
                    <td><a href="https://github.com/shun-ons">https://github.com/shun-ons</a></td>
                </tr>
            </table>
        </div>
        <div id="My_work">
            <h2>My work</h2>
            <img src="../static/img/shopping.jpg">
        </div>
        <div id="Contact_me">
            <h2>Contact me</h2>
            <p>s2760464@wakayama-u.ac.jp</p>
        </div>
    </body>
</html>